

.main{
  height: 400px;
  width: 870px;
  display: flex;
}

.list{
  list-style: none;
}

.left{
  margin: auto;
  border-bottom: 2px solid gray;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.right{
  margin: auto;
  padding: 10px;
  padding-top: 0px;
  border-left: 2px solid gray;
}