.App {
  width: 50%;
  margin: auto;
}

.tokens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

.ficha {
  width: 30%;
  border: 2px solid lightskyblue;
  border-radius: 10px;
  overflow: hidden;
  background-image: url('./img/fondo_vintage.jpg');
}

.datos {
  padding: 20px;
}

.ficha img {
  width: 100%;
}