
.container{
  margin: auto;
  width: 722px;
  height: 480px;
    overflow: auto;
  background-image: url(ressources/panteon.jpg);
}

.content{
  height: 180px;
  width: 722px;
  padding: 4px;
  box-sizing: border-box;
  gap: 60px;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.col{
  overflow:auto;
  width: 80px;
}