.container{
  margin: auto;
  width: 500px;
  height: 25px;
  border: 1px solid black;
}
.cont{
  width: 0;
  height: 100%;
}

.container:hover .cont {
  transition: 1s;
  background: green;
  animation: filll 1.5s forwards;
}

@keyframes filll{

  to{width: 450px;}
}

.container2 {
  margin-top: 10px ;
  margin-left: 23.4%;
  width: 500px;
  height: 25px;
  border: 1px solid black;
}
.cont2{
  width: 450px;
  background: red;
  background-image: url(../ressources/corazon-mask.png) 450px;
}

.container2:hover .cont2 {
  transition: 1s;
  background: green;
  animation: filll 1.5s forwards;
}
