h1 {
  margin-left: 50%;
  margin-right: 50%;
}

.calculadora {

  width: 400px;
  height: 650px;
  margin: auto;
  padding: 15px;
  border: 1px solid salmon;
  background-color: gray;
  /*display: flex;*/
}

.input {

  margin-top: 25px;
  height: 50px;
  border: 1px solid salmon;
  width: 100%;
  color: blue;
  background-color: aquamarine;

}

.keys {
  margin-top: 20px;
  padding: 15px;
  color: azure;
  width: 100%;
  border: 1px solid salmon;
  background-color: aquamarine;
}