
.h1 {
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 20px; 
  margin-bottom: 20px;
}

h2 {
  font-family:cursive;
  color: gainsboro;
  text-align: center;
  margin:0; 
}

input[type=textfield] {
  background-color: black;
  color: aliceblue;
  width: 100%;
  height: 45%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  font-size: 50px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 0;
  outline: none;
  text-align: right;
}

.container {

  cursor: default;
  height: 660px;
  width: 410px;
  min-width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap : 15px;
}

input[type=button],
input[type=reset] {
  flex: 1 1 calc(25% - 15px);
  border: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.orange {
  background-color: orange;
  color: white;
}

.gray {
  background-color: gray;
  color: white;
}

.darkgray {
  background-color: rgb(52, 49, 49);
  color: white;
}